@model AutoWorkshop.Web.Data.Entities.Repair

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Repair</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompletedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointment.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
