@model IEnumerable<AutoWorkshop.Web.Data.Entities.Repair>

@{
    ViewData["Title"] = "Index";
}

<h2>Repairs</h2>

<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-block" style="background-color: darkorange; font-size: small; color:white">Create New Repair</a>
</div>

<br />
<br />



<table id="repair" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.Vehicle.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.Vehicle.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.Mechanic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Appointment.Client.FullName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Appointment.Vehicle.Brand.BrandName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Appointment.Vehicle.Model)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Appointment.Mechanic.FullName)
                </td>
                <td class="align-middle">
                    <div class="dropdown ">
                        <button class="btn btn-secondary dropdown-toggle" style="padding:3px; width: 100px" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Info
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <div class="" style="max-width:50em ;padding: 10px; word-wrap: break-word">
                                @Html.DisplayFor(modelItem => item.RepairInfo)
                            </div>
                        </div>
                    </div>
                </td>                                            
                <td>
                    @Html.DisplayFor(modelItem => item.FormatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
<br />



<script type="text/javascript">

    $(document).ready(function () {
        $('#repair').DataTable();
    });

</script>