@model AutoWorkshop.Web.Models.SecConfAppointViewModel

@{
    ViewData["Title"] = "Confirmed Appointments";

}


<br />
<br />
<br />

<div>
    <h3>Confirmed Appointments</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mechanic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConfAppointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Info
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <div class="" style="max-width:50em ;padding: 10px; word-wrap: break-word">
                                @Html.DisplayFor(modelItem => item.Information)
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mechanic.FullName)
                </td>

                @*<td>
                        <a asp-action="Edit" asp-controller="Appointment" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-controller="Appointment" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-controller="Appointment" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>