@model AutoWorkshop.Web.Data.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastMaintenance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastMaintenance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
